@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h1 {
  margin-bottom: 1rem;
}

input, button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  background: #212529;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #343a40;
}